<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
<%- include("../menu_main"); %>
<body>
  <div class="about-section" style="background-image: url('http://www.shinchun.org/user/saveDir/board/www21/1682_1580716412_3.jpg');">
    <!-- <div class="about-section" style="background-image: url('../../picture/background.jpg');"> -->
      <h1 style="font-size:90px; color:white">SMC<br>Student<br>Department</h1>
  </div>
  
  <!-- <hr class="hr-light black my-4 wow fadeInDown" data-wow-delay="0.4s">
  <h3 style="text-align: center; padding:10vh"><strong>Philippians 1:10</strong></h3>
  <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s"> -->
  <!-- <h1 style="text-align:center; padding:10vh; font-weight: bold; font-size:larger">WHO</h1> -->
  <div class="row">
    <div class="row_l" >
      <img style="max-width: 100%; height: auto;" src="https://cdn.pixabay.com/photo/2015/06/25/17/56/people-821624_1280.jpg"/>
    </div>
    <div class="row_r">
      <h1>JUMPING</h1>
    </div>
  </div>
  <div class="row">
    <div class="row_l ">
      <h1>PRAYING</h1>
    </div>
    <div class="row_r" >
      <img style="max-width: 100%; height: auto;" src="https://images.pexels.com/photos/2014773/pexels-photo-2014773.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    </div>
  </div>
  <div class="row">
    <div class="row_l" >
      <img style="max-width: 100%; height: auto;" src="https://cdn.pixabay.com/photo/2017/08/06/09/11/people-2590551_1280.jpg"/>
    </div>
    <div class="row_r">
      <h1>WORSHIPPING</h1>
    </div>
  </div>

</footer>
<%- include("../footer"); %>

<!-- <script>
  // Animations init
new WOW().init();
</script> -->
<style>
  html {
    box-sizing: border-box;
  }
  .about-section {
    font-family: 'Againts', serif;
    padding: 30vh;
    text-align: left;
    background-color: #474e5d;
    color: black;
  }
  
  .row_l{
    clear: left; 
    width: 50%;
  }
  .row_r{
    clear:right; 
    width: 50%;
  }
  .row{
    color: white;
    background-color: black;
    text-align: center;
  }
  .row h1{
    padding-top: 20%;
    font-weight: bold;
    font-size: 60px;
  }
</style>
</body>
</html>
